In [16]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [3]:
df = pd.read_parquet('data/yellow_tripdata_2021-01.parquet')

In [27]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [28]:
engine.connect()

In [29]:
print(pd.io.sql.get_schema(df, name='yellow_taxi'))

CREATE TABLE "yellow_taxi" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [30]:
header = df.head(0)
header.to_sql(name= 'yellow_taxi_data', con=engine, if_exists='replace')

0

In [31]:
iterator = 0
ix_start = 0
while ix_start < len(df):
    t_start = time()
    ix_start = iterator * 100000
    ix_end = (iterator +1) * 100000
    df[ix_start:ix_end].to_sql(name= 'yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print(f'Inserted values between indexes {ix_start} and {ix_end}. It tooks {round(t_end - t_start)} seconds.')
    iterator += 1

Inserted values between indexes 0 and 100000. It tooks 10 seconds.
Inserted values between indexes 100000 and 200000. It tooks 11 seconds.
Inserted values between indexes 200000 and 300000. It tooks 10 seconds.
Inserted values between indexes 300000 and 400000. It tooks 10 seconds.
Inserted values between indexes 400000 and 500000. It tooks 10 seconds.
Inserted values between indexes 500000 and 600000. It tooks 10 seconds.
Inserted values between indexes 600000 and 700000. It tooks 11 seconds.
Inserted values between indexes 700000 and 800000. It tooks 10 seconds.
Inserted values between indexes 800000 and 900000. It tooks 10 seconds.
Inserted values between indexes 900000 and 1000000. It tooks 10 seconds.
Inserted values between indexes 1000000 and 1100000. It tooks 10 seconds.
Inserted values between indexes 1100000 and 1200000. It tooks 10 seconds.
Inserted values between indexes 1200000 and 1300000. It tooks 9 seconds.
Inserted values between indexes 1300000 and 1400000. It tooks 7 seconds.
Inserted values between indexes 1400000 and 1500000. It tooks 0 seconds.